<div>
  <button class="btn btn-outline-primary me-3" (click)="get400ValidationError()">Error 400 Validation</button>
  <button class="btn btn-outline-primary me-3" (click)="get400Error()">Error 400</button>
  <button class="btn btn-outline-primary me-3" (click)="get401Error()">Error 401</button>
  <button class="btn btn-outline-primary me-3" (click)="get404Error()">Error 404</button>
  <button class="btn btn-outline-primary me-3" (click)="get500Error()">Error 500</button>

  @if(validationErrors.length > 0){
    <div class="row mt-5">
      <ul class="text-danger">
        @for(error of validationErrors; track $index){
          <li>{{error}}</li>
        }
      </ul>
    </div>
  }
</div>
