@if(member){
<div class="row">
  <div class="col-4">
    <h1>Your profile</h1>
  </div>
  <div class="col-8">
    @if(editForm.dirty){
    <div class="alert alert-info pb-0">
      <p><strong>Information:</strong> You have made changes. Any unsaved changes will be lost</p>
    </div>
    }
  </div>
</div>
<div class="row">
  <div class="col-4">
    <div class="card">
      <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img img-thumbnail">
      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{member.city}}, {{member.country}}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button
          [disabled]="!editForm.dirty"
          form="editForm"
          type="submit"
          class="btn btn-success">
          Save changes
        </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <tabset class="member-tabs">
      <tab heading="Edit photos">
        <form id="editForm" #editForm="ngForm" (ngSubmit)="updateMember()">
          <h4 class="mt-2">Introduction</h4>
          <textarea class="form-control" name="introduction" [(ngModel)]="member.introduction" rows="6"></textarea>
          <h4 class="mt-2">Looking For</h4>
          <textarea class="form-control" name="lookingFor" [(ngModel)]="member.lookingFor" rows="6"></textarea>
        </form>
      </tab>
    </tabset>
  </div>
</div>
}
