<div class="mb-3 form-floating">
  <input
    [class.is-invalid]="control.touched && control.invalid"
    [type]="type()"
    class="form-control"
    [formControl]="control"
    placeholder={{label()}}>
  <label>{{label()}}</label>
  <div
    *ngIf="control.hasError('required')"
    class="invalid-feedback text-start">
    Please enter a {{label()}}
  </div>
  <div
    *ngIf="control.hasError('minLength')"
    class="invalid-feedback text-start">
    {{label()}} must be at least {{control.errors?.['minlenght'].requiredLength}} characters
  </div>
  <div
    *ngIf="control.hasError('maxLength')"
    class="invalid-feedback text-start">
    {{label()}} must be at most {{control.errors?.['maxlenght'].requiredLength}}
    characters
  </div>
  <div
    *ngIf="control.hasError('isMatching')"
    class="invalid-feedback text-start">
    Password do not match
  </div>
</div>
