@if(member){
<div class="row">
  <div class="col-4">
    <div class="card">
      <img src="{{member.photoUrl || './assets/user.png'}}"
      alt="{{member.knownAs}}"
      class="card-img img-thumbnail">
      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{member.city}}, {{member.country}}</p>
        </div>
        <div>
          <strong>Location:</strong>
          <p>{{member.lastActive | timeago}}</p>
        </div>
        <div>
          <strong>Location:</strong>
          <p>{{member.created | date: 'dd MM yyyy'}}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-success">Message</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
      <tabset class="member-tabs">
          <tab heading="About {{member.knownAs}}">
            <h4>description</h4>
          </tab>
          <tab heading="Photos" #photoTab="tab">
            @if(photoTab.active){
              <gallery [items]="images" [itemAutosize]="true" class="gallery"></gallery>
            }
          </tab>
          <tab heading="Messages">
            <h4>Messages will go here</h4>
          </tab>
      </tabset>
    </div>
</div>
}
